<div class="page">
  <div class="row justify-content-center">
    <mat-form-field appearance="outline">
      <mat-label>Nome do Pokemon</mat-label>
      <input
        matInput
        [formControl]="search"
        placeholder="Pikachu"
        (keydown.enter)="getSearchPokemon()"
      />
    </mat-form-field>
    <div class="red_button">
      <button mat-raised-button color="warn" (click)="getSearchPokemon()">
        Buscar
      </button>
    </div>
  </div>

  <div class="row" *ngIf="!searchState">
    <div
      class="col-sm-6 col-md-6 col-lg-4 col-xl-4"
      *ngFor="let pokemon of pokemonList"
    >
      <app-pokemon-card
        [id]="pokemon.id"
        [name]="pokemon.name"
        [types]="pokemon.types"
        [sprites]="pokemon.sprites"
        (click)="navigate(pokemon.name)"
      ></app-pokemon-card>
    </div>
  </div>

  <div class="row col-sm-6 col-md-6 col-lg-4 col-xl-4" *ngIf="searchState">
    <app-pokemon-card
      *ngIf="showCard"
      [id]="searchPokemon.id"
      [name]="searchPokemon.name"
      [types]="searchPokemon.types"
      [sprites]="searchPokemon.sprites"
      (click)="navigate(searchPokemon.name)"
    ></app-pokemon-card>
  </div>

  <div class="text-center" *ngIf="showMore">
    <button
      [disabled]="loadingButton"
      mat-raised-button
      color="warn"
      (click)="getList()"
    >
      Mais
    </button>
  </div>
</div>
